.Container {
  display: flex;
  flex-direction: column;
}

.PostContainer {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  border: 1px solid black;
  border-radius: 5px;
}

.PostContainer button {
  float: center;
}
