/* Add a black background color to the top navigation */
.Navigation {
  background-color: rgb(141, 141, 141);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.Navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.Navigation a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.Navigation a.active {
  background-color: #4caf50;
  color: white;
}
