.AddPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2.5%;
}

.AddPost img {
  /* padding-left: 15%; */
  left: 40%;
  position: relative;
}

.InnerDiv {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
}

.InnerDiv form {
  margin-top: 2.5%;
  width: 100%;
}

.InnerDiv input {
  width: 500px;
}

.InnerDiv button {
  width: 90px;
  margin-top: 2.5%;
}
